/* 관련 사이트 회색 상자 */
.site-box {
  width: 190px;
  height: 80px;
  background: rgb(220, 220, 220);
  border: 1px solid rgba(163, 163, 163, 1);
  border-radius: 5px;
  margin: 50px 0 0 50px; /* 화면에 보기 편하게 하기 위해 작성 */
  padding: 0;
  transition: padding 500ms linear;
}

.site-box:hover {
  padding-bottom: 120px;
  transition: padding 500ms linear;
}

/* 관련 사이트 제목 */
h1 {
  width: 100%;
  height: 30px;
  font-size: 15px;
  margin: 12px 0 0 12px;
}

span {
  color: rgb(255, 105, 41);
}

/* 관련 사이트 목록 흰 상자 */
.site-list-box {
  width: 166px;
  height: 25px;
  background: white;
  border: 1px solid rgba(163, 163, 163, 1);
  border-radius: 5px;
  margin: 0 12px 0 11px;
  overflow: hidden;
  padding: 0;
  transition: padding 500ms linear;
}

.site-list-box:hover {
  padding-bottom: 120px;
  transition: padding 500ms linear;
}

/* 관련 사이트 목록 */
.site-list {
  list-style: none;
  margin: 5px 0 0 25px;
  padding: 0;
  transition: padding-top 500ms 550ms ease-out;

}

.site-list:hover {
  padding-top: 15px;
  transition: padding-top 500ms 550ms ease-out;
}

/* 관련 사이트 */
.zero-base,
.mdn,
.web-a11y,
.web-standards,
.w3c {
  text-decoration-line: none;
  color: black;
  font-size: 14px;
  display: block;
  width: 100%;
  height: 24px;
}